<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_small.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_datachat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='btnstyle.css') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

    <nav class="menu-nav">
        <div class="hamburger-btn" id="hamburger-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="sidebar" id="sidebar">
            <ul class="menu_items">
                <li><a href="/" class="menu_item">首頁</a></li>
                <li><a href="/choose" class="menu_item">規劃行程</a></li>
                <li><a href="/datachart" class="menu_item">數據圖表</a></li>
                <li><a href="/model" class="menu_item">模型</a></li>
                <li><a href="/About" class="menu_item">關於我們</a></li> 
            </ul>
        </div>
    </nav>
    <!-- <div class="container"> -->
        <div class='tableauPlaceholder' id='viz1695094296835' style='position: relative'>
            <noscript>
                <a href='#'><img alt='旅遊儀錶板 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;travel_project_v1&#47;sheet9&#47;1_rss.png' style='border: none' />
                </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='travel_project_v1&#47;sheet9' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;travel_project_v1&#47;sheet9&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='zh-TW' />
            </object>
        </div>                
            <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1695094296835');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
                else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>

    <script>

document.addEventListener("DOMContentLoaded", function () {
    // 獲取包含 {{select_region}} 的元素
    var regionText = document.getElementById("regionText");
    
    // 替換文本，將 "%" 替換為空字符串，即隱藏它
    regionText.textContent = regionText.textContent.replace("%", "");
});

    </script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='datachart.js') }}"></script>
</body>

</html>
